body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}


div.container {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 10px;
  padding: 10px;
}

div.Layout button {
  display: block;
}

span.ThisUsername {
  font-weight: bold;
}



div.DiceContainersForOpponents div.DiceContainer {
  display: inline-block;
}

div.DiceOnTableContainer {
  margin-top: 24px;
}

div.DieContainer {
  display: inline-block;
}
div.DieContainer button {
  display: block;
}
div.DieContainer label {
  display: block;
  margin-top: 10px;
}

span.DieIcon {
  font-size: 32px;
}



div.GameLog {
  display: inline-block;
}

div.LogMessageContainer {
  height: 150px;
  width: 400px;
  overflow: auto;
}



div.HorizonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.HorizonDeckContainer {
  flex-grow: 1;
}
div.HorizonHand {
  flex-grow: 1;
}

div.HorizonCard {
  display: inline-block;
  width: 60px;
  height: 50px;
  background-color: Gainsboro;
  border-radius: 5px;
  margin: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.HorizonCard.highlighted {
  border-width: 3px;
  border-style: solid;
  border-color: CornflowerBlue;
}
div.HorizonCard:not(.highlighted) {
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
}
div.HorizonCard p {
  text-align: center;
}

p.NumCards {
  font-size: 13px;
}
div.DrawPileContainer {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
div.DiscardPileContainer {
  display: inline-block;
  vertical-align: top;
}

div.HorizonHand input[type=radio] {
  display: none;
}
div.KeptCardsContainer {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
div.CardsToDraftContainer {
  display: inline-block;
  vertical-align: top;
}
div.CardsToDraftContainer input[type=submit] {
  display: block;
}
