body {
  font-family: 'Lato', sans-serif;
}

div.DiceContainer {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 10px;
  padding: 10px;
}

span.purpleDie {
  color: purple;
}

span.greenDie {
  color: green;
}

span.orangeDie {
  color: orange;
}

div.GameLog {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 10px;
  padding: 10px;
}

div.GameLog h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

div.LogMessageContainer {
  height: 150px;
  width: 400px;
  overflow: auto;
}

div.LogMessage {
}
